{% extends "layouts/default.twig" %}

{% block content %}
	{% for post in posts %}
		<article>
			<h3>{{ post.title }}</h3>
			<p>
				{{ post.content }}
			</p>
		</article>
	{% else %}

	{% endfor %}
{% endblock %}