{% extends "layouts/default.twig" %}
{% block content %}
	<div class="align-central">
		<h1>Welcome fellow PHP enthisuast!</h1>
		<img class="responsive-img" src="../../assets/images/fox_logo.jpg">
	</div>
{% endblock %}